@model GameSpace.Models.User_Wallet

@{
    ViewData["Title"] = "我的錢包";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>我的錢包</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>點數餘額</h4>
                        <p class="h2 text-primary">@Model.User_Point</p>
                    </div>
                    <div class="col-md-6">
                        <h4>動作</h4>
                        <a href="@Url.Action("History")" class="btn btn-outline-primary">查看歷史</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>快速動作</h4>
            </div>
            <div class="card-body">
                <a href="@Url.Action("Index", "UserSignInStats")" class="btn btn-success btn-block mb-2">每日簽到</a>
                <a href="@Url.Action("Index", "Pet")" class="btn btn-info btn-block mb-2">寵物照護</a>
                <a href="@Url.Action("Index", "MiniGame")" class="btn btn-warning btn-block">遊玩小遊戲</a>
            </div>
        </div>
    </div>
</div>