@model GameSpace.Models.User

@{
    ViewData["Title"] = "User Details";
    Layout = "~/Areas/MemberManagement/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>User Details</h3>
                <div>
                    <a href="@Url.Action("Edit", new { id = Model.UserID })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">User ID:</dt>
                    <dd class="col-sm-9">@Model.UserID</dd>
                    
                    <dt class="col-sm-3">User Name:</dt>
                    <dd class="col-sm-9">@Model.UserName</dd>
                    
                    <dt class="col-sm-3">Email:</dt>
                    <dd class="col-sm-9">@Model.UserEmail</dd>
                    
                    <dt class="col-sm-3">Phone:</dt>
                    <dd class="col-sm-9">@Model.UserPhone</dd>
                    
                    <dt class="col-sm-3">Birthday:</dt>
                    <dd class="col-sm-9">@Model.UserBirthday?.ToString("yyyy-MM-dd")</dd>
                    
                    <dt class="col-sm-3">Gender:</dt>
                    <dd class="col-sm-9">@Model.UserGender</dd>
                    
                    <dt class="col-sm-3">Address:</dt>
                    <dd class="col-sm-9">@Model.UserAddress</dd>
                    
                    <dt class="col-sm-3">Create Time:</dt>
                    <dd class="col-sm-9">@Model.UserCreateTime.ToString("yyyy-MM-dd HH:mm:ss")</dd>
                    
                    <dt class="col-sm-3">Update Time:</dt>
                    <dd class="col-sm-9">@Model.UserUpdateTime?.ToString("yyyy-MM-dd HH:mm:ss")</dd>
                </dl>
            </div>
        </div>
    </div>
</div>